!!!5
%html
  %head
    %title Talk Name
    %link(rel="stylesheet" href="css/all.css")
  %body
    .reveal
      .slides
        %section
          %h1 Talk Name
          %h3 Talk Description
        %section
          %h2 Contato
          %ul
            %li tadeuzagallo@gmail.com
            %li @tadeuzagallo
            %li github.com/tadeuzagallo
            %li tadeuzagallo.com
          
    %script(src="js/all.js")
