!!!5
%html
  %head
    %title Talk Name
    %link(rel="stylesheet" href="css/all.css")
  %body
    .reveal
      .slides
        %section
          %h1 Talk Name
          %br
          %ul.no
            %li 
              %a(href="mailto:tadeuzagallo@gmail.com") tadeuzagallo@gmail.com
            %li
              %a(href="http://twitter.com/tadeuzagallo") @tadeuzagallo
            %li
              %a(href="http://github.com/tadeuzagallo") github.com/tadeuzagallo
            %li
              %a(href="http://tadeuzagallo.com") tadeuzagallo.com
          
    %script(src="js/all.js")
